---
import Main from "../../layouts/Main.astro";
import {Config} from '../../settings'
import {dbQuery} from '../../db/start/db'

import { getLangFromUrl, useTranslations } from "../../i18n/utils";

if (!Astro.cookies.has("AdminUser")) {
    return Astro.redirect(`/admin/${Config.default_language}/sesion/login/`);
}

const lang : "en" | "es" = getLangFromUrl(Astro.url);
let t
function setLanguage(lang: "en"|"es") {
    t = useTranslations(lang);
    }
setLanguage(lang)

const users = await dbQuery('SELECT * FROM User;')


---

<Main title="PonnyAdmin | Main">
    <div>
        <table class="bg-gray-200 w-full text-[3vw] sm:text-[2vw] lg:text-[1.2vw]">
            <tr class="bg-gray-300">
                <th class="p-1">{t('panel.tickets.general.Username')}</th>
                <th class="p-1">{t('panel.tickets.general.Email')}</th>
                <th class="p-1">{t('panel.tickets.general.Admin')}</th>
                {Config.modules_enabled.ticket_system ? <th class="p-1">{t('panel.tickets.general.Worker')}</th> : ""}
            </tr>
            {users ? users.map((u) => (
                    <tr>
                        <td class="py-2 text-center">{u.name}</td>
                        <td class="py-2 text-center">{u.email}</td>
                        <td class="py-2 text-center">
                            <select id="AdminSelect">
                                { u.admin ? <option value="1" id={u.id} selected>{t('panel.tickets.general.Yes')}</option> : <option value="1" id={u.id}>{t('panel.tickets.general.Yes')}</option> }
                                { !u.admin ? <option value="0" id=`${u.id}` selected>{t('panel.tickets.general.No')}</option> : <option value="0" id=`${u.id}`>{t('panel.tickets.general.No')}</option>}
                            </select>
                        </td>
                        {Config.modules_enabled.ticket_system ? <td class="py-2 text-center">
                            <select id="WorkerSelect">
                                { u.worker ? <option value="1" id={u.id} selected>{t('panel.tickets.general.Yes')}</option> : <option value="1" id={u.id}>{t('panel.tickets.general.Yes')}</option> }
                                { !u.worker ? <option value="0" id=`${u.id}` selected>{t('panel.tickets.general.No')}</option> : <option value="0" id=`${u.id}`>{t('panel.tickets.general.No')}</option>}
                            </select>
                        </td> : ""}
                    </tr>
            )) : "No existe ningún usuario."}
        </table>
    </div>
</Main>

<script>
    const selects = document.querySelectorAll('#WorkerSelect')
    const selects2 = document.querySelectorAll('#AdminSelect')

    selects.forEach((s) => {
        s.addEventListener('change', async (e) => {
            const select = e.target
            const f_response = await fetch('/api/user/worker/', {
                method: 'POST',
                headers: {
                    'Authorization': 'Bearer estoeslaclavesecretadelticketsystemaltawebs'
                },
                body: JSON.stringify({
                    USER_ID: select.options[select.selectedIndex].id,
                    VALUE: select.options[select.selectedIndex].value
                })
            })
        })
    })

    selects2.forEach((s) => {
        s.addEventListener('change', async (e) => {
            const select = e.target
            const f_response = await fetch('/api/user/admin/', {
                method: 'POST',
                headers: {
                    'Authorization': 'Bearer estoeslaclavesecretadelticketsystemaltawebs'
                },
                body: JSON.stringify({
                    USER_ID: select.options[select.selectedIndex].id,
                    VALUE: select.options[select.selectedIndex].value
                })
            })
        })
    })
</script>