---
import Layout from '../../../layouts/Layout.astro';
import {dbQuery} from '../../admin/db/start/db'

interface Cookies {
    pk: number;
}

interface Ticket {
    name: string;
    used: boolean;
}

const { id } = Astro.params;
const cookies_response = Astro.cookies.get('User');
if (!cookies_response) return Astro.redirect('/sesion/login/')
const cookies = JSON.parse(cookies_response.value)

const event_response =
    await dbQuery(`SELECT * FROM Events WHERE id='${id}';`);
const tickets_response =
    await dbQuery(`SELECT * FROM Tickets WHERE userid='${cookies.pk}' AND event_id='${id}';`);

const event = event_response[0]
---

<Layout title="Ticket System | O-Clock">
    {event ? <main class="my-1">
        <div id="Content" class="mx-auto">
            <img src="/img/events/event.jpg" class="object-cover min-w-[100%] max-h-[250px]" alt="EventImg">
            <h1 class="text-center text-2xl my-2 font-bold">{event.name}</h1>
            <p class="text-center">{event.desc_value}</p>
        </div>

        <section class="grid grid-cols-1 lg:grid-cols-2 p-5">
            <div class="mx-2">
                <h1 class="text-center my-5 border-b border-gray-950 py-2">Comprar Entradas</h1>
                <div class="bg-gray-200 p-3 px-5 rounded-xl">
                    <h1 class="text-center">FORMULARIO DE PAGO</h1>
                </div>
            </div>
            <div class="mx-2">
                <h1 class="text-center my-5 border-b border-gray-950 py-2">Mis Entradas</h1>
                { tickets_response ? tickets_response.map((t : Ticket) => (
                        <div class="my-2 bg-gray-200 p-3 px-5 rounded-xl">
                            <h1 class="mb-1 font-bold text-center">{t.name}</h1>
                            <p class="mb-2 text-center">Esta entrada es valida hasta el {t.valid.toLocaleDateString('es-ES')}</p>
                            <div class="flex justify-center">
                                {!t.used ? <button class="bg-blue-500 px-4 py-1 rounded-full text-white Btn-Codigo" id={t.id}>Mostrar Código</button> : <a class="bg-gray-800 px-4 py-1 rounded-full text-white">Usado</a>}
                            </div>
                        </div>
                )) : "Actualmente no tienes ningún ticket activo." }
            </div>
        </section>

        <div hidden class="fixed bg-opacity-90 rounded-lg top-1/4 left-0 right-0 w-full sm:w-1/2 sm:mx-auto bg-gray-300 min-h-[300px]" id="QR-Modal">
            <h1 class="text-center border-b border-gray-950 my-2 flex px-10 justify-between">Mi Entrada <span class=""><button id="QR-Modal-Close">Cerrar</button></span></h1>

            <div class="grid justify-center" id="QRImg">
            </div>
        </div>
    </main> : "Event dont exist, please contact web administrator."}
</Layout>

<!-- NEEDED LIBRARIES -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js" integrity="sha512-CNgIRecGo7nphbeZ04Sc13ka07paqdeTu0WR1IM4kNcpmBAUSHSQX0FslNhTDadL4O5SAGapGt4FodqL8My0mA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
    function init() {
        console.log('PASO INIT')
        const buttons = document.querySelectorAll('.Btn-Codigo')
        const modal_close = document.querySelector('#QR-Modal-Close')
        const modal = document.querySelector('#QR-Modal')

        buttons.forEach((btn) => {
            btn.addEventListener('click', () => {
                console.log("A")
                const img  = document.querySelector('#QRImg')
                img.innerHTML = ''
                let qrcode = new QRCode(document.getElementById('QRImg'), `/scanner/scanned/${btn.id}/`);
                console.log(qrcode)
                modal.toggleAttribute('hidden')
            })
        })

        modal_close.addEventListener('click', () => {
            modal.toggleAttribute('hidden')
        })

        document.addEventListener('astro:before-swap', () => {
        }, { once: true })
    }

    document.onload = init()

    document.addEventListener("astro:after-swap", init)


</script>

<style>

</style>
